/BinaryFunctions.class
/ComputerParts.class
/LogicParts.class
/CompareParts.class
/LogicParts$DecimalToBinary.class
/LogicParts$decimalToBinary.class
/LogicParts$BinaryToDecimal.class
/SpecialFunctions.class
/Registers.class
/Domein.class
